
.body{
    width: 100%;
    height: 100vh;
}

.nav-bar{
    margin-left: 128px;
    margin-right: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0px;
}

.start-logo{
    display: flex;
    gap: 16px;
    align-items: center;
}

.start-logo h2{
    font-weight: 900;
}

.list-menu{
    display: flex;
    gap: 64px;
}

.list-menu .btn-home{
    color: #222831;
}

button{
    border: none;
    outline: none;
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.list-menu button{
    color: rgba(25, 24, 37, 0.5);
    font-weight: 700;
    font-size: 14px;
    background-color: #fff;
}

.btn-login{
    border-radius: 100px;
    padding: 16px 32px;
    color: #222831;
}

.btn-sign-up{
    border-radius: 100px;
    padding: 16px 32px;
    background-color: #5D50C6;
    color: #EEEEEE;
}

/* desktop */
@media (min-width: 1440px){

}

/* tablet */
@media (min-width: 1023px){
    .list-menu{
        display: none;
    }
}

@media (max-width: 430px){
    .list-menu{
        display: none;
    }
}